@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'iransans';
    src: url(./fonts/IRANSans.ttf);
    font-weight: 500;
}

:root {
    --main-green1: #DAEFDC;
    --main-green2: #42A476;

}
body{
    direction: rtl;
    font-family: iransans;
}

a.active{
    color: var(--main-green2);
}